span{
    font-weight: bold;
}

.minicard{
    background-color: rgba(23, 22, 22, 0.932);
    border-radius: 5px;
    margin-bottom: 10px;
}

.card-contenido{
    padding: 10px 10px 10px 10px;
    text-align: center;
    font-size: medium;
}

